<!DOCTYPE html>
<html lang="en-us" ng-app="todolist">
<head>
    <title>Todo List</title>
    <meta charset="utf-8">
    <meta content="IE=edges" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="fragment" content="!">

    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/app/css/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <h1 align="center">Todo List</h1>

    <div ui-view>
    </div>
    <div ng-include="currentPartial">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/vendor/angular/angular.min.js"></script>
    <script src="static/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="static/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--MAIN APP-->
    <script src="static/app/js/app.js"></script>

    <!--Services-->
    <script src="static/app/js/service.js"></script>
    <script src="static/app/js/service_task.js"></script>

    <!--CONTROLLERS-->
    <script src="static/app/js/controller.js"></script>
    <script src="static/app/js/controller_task.js"></script>

    <!--DIRECTIVES-->

</body>
</html>
